  /* FONTS */
  @import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
  @import url('https://fonts.googleapis.com/css?family=Alex+Brush');
  @import url('https://fonts.googleapis.com/css?family=Oleo+Script');
  @import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

  /*
  COLORS
  darkGray #232822
  pink #F92672
  blue #66D9EF
  green #A6E22E
  orange #FD971F 
  */

/*
COMPONENTS
*/

.App {
  background: #232822;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: 'Quicksand';
  color: white;
}

.orange {
  color: #FD971F;
}

.green {
  color: #A6E22E;
}

.blue {
  color: #66D9EF;
}

.pink {
  color: #F92672;
}

.Nav ul {
  text-align: center;
  position: absolute;
  font-weight: 400;
  right: 2em;
  top: 2em;
  display: grid;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
}

.Nav li {
  cursor: pointer;
  position: relative;
}

.Nav li::before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  width: 40px;
  height: 30px;
  background: rgba(0,0,0, 0.3);
  display: block;
  z-index: -1;
  opacity: 0;
  transition: opacity 300ms ease;
}

.Nav li::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background: white;
  opacity: 0;
  transform: rotate(-10deg);
  transition: opacity 300ms ease;
}

.Nav li:hover::after {
  opacity: 1;
}


.Nav li:hover::before {
  opacity: 1;
}

.Contact ul {
  text-align: center;
  position: absolute;
  font-weight: 400;
  left: 2em;
  bottom: 2em;
  display: grid;
  list-style: none;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 1em;
}

.Contact li {
  cursor: pointer;
  position: relative;
}

.Contact li::before {
  content: '';
  position: absolute;
  top: 10px;
  left: -10px;
  width: 30px;
  height: 20px;
  background: rgba(0,0,0, 0.3);
  display: block;
  z-index: -1;
  opacity: 0;
  transition: opacity 300ms ease;
}

.Contact li::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -5px;
  width: 100%;
  height: 2px;
  background: white;
  opacity: 0;
  transform: rotate(10deg);
  transition: opacity 300ms ease;
}

.Contact li:hover::after {
  opacity: 1;
}


.Contact li:hover::before {
  opacity: 1;
}

.Main {
  position: relative;
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Main h1 {
  font-size: 2rem;
}

.slogan {
  display: flex;
  margin-top: 1em;
  line-height: 2em;
  font-size: 14pt;
}

.particle-layer {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.coder {
  font-family: 'Press Start 2P', cursive;
  font-size: 0.8rem;
}

.designer {
  font-family: 'Oleo Script', cursive;
  font-size: 1.3rem;
}

.about, .code, .design, .bonus {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about p{
  width: 80vw;
}

/*
 MODAL
*/

.modal-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 22;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-container.hide {
  display: none!important;
}
.modal-container.show {
  display: block!important;
}

.modal-container h1{
  margin-top: 1em;
  text-align: center;
}
.modal-container p{
  text-align: left;
  padding: 1.3em;
}
.modal-container h2{
  text-align: left;
  padding: 1em;
}   

.modal-container .content {
  text-align: left;
  position: absolute;
  background-color: #232822;
  color: white;
  width: 50%;
  height: 80%;
  z-index: 25;
  overflow-y: scroll;
}

.blackground{
  background-color: black;
  opacity: 0.7;
  width: 100vw;
  height: 100vh;
  z-index: 22;
}

#resume.modal-container {
  overflow: scroll;
  height: 100vh;
}

#resume.modal-container .content{
  width: 90%;
  left: 5%;
  height: 80vh;
  top: 10vh;
  overflow: scroll;
}

#resume.modal-container .content h2{
  text-align: center;
}
#resume.modal-container .content p{
  padding: 0 4%;
  font-size: 16px;
  line-height: 20px;
  text-align: left!important;
}

/*
SCROLLBAR
*/

#style-1::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #232822;
}

#style-1::-webkit-scrollbar
{
	width: 12px;
	background-color: #232822;
}

#style-1::-webkit-scrollbar-thumb
{
  height: 50px;
	border-radius: 10px;
	box-shadow: inset 0 0 10px rgba(0,0,0,.5);
	background-color: #555;
}



/*
PAGE TRANSITIONS
*/

.fade-appear,
.fade-enter {
  opacity: 0;
}

.fade-appear-active,
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit,
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease;
}