*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14pt;
}

a {
  text-decoration: inherit;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: none;
}